In [1]:
import numpy as np
import pandas as pd

In [3]:
w = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/pandas/1_intro/nyc_weather.csv')

In [4]:
# prints first five rows 
w.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [5]:
# print last five rows
w.tail()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [6]:
# what was max temp in NY in January?
jan_temp = w['Temperature']
jan_temp.max()

50

In [7]:
# on which day did it rain?
rain_days = w[w['Events']== 'Rain']['EST']

In [8]:
rain_days

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

the process of cleaing messy data is called data munging or data wrangling

In [10]:
# what was avereage speed of wind during this month
# but thre are some missing values i Weindspeed col so filing na with 0
w.fillna(0,inplace = True)
w['WindSpeedMPH'].mean()

6.225806451612903

# DataFrame: it is a main object in Pandas. DataFrame is used to represente data with rows and columns(tabular-tab seperated or excel spreadsheet like data